<h1>Event discovery</h1>
<div class="filter-btn">
  <button type="button" class="btn btn-primary">Date</button>
  <button type="button" class="btn btn-primary">Most follow</button>
  <button type="button" class="btn btn-primary">Most participants</button>
  <button type="button" class="btn btn-primary">Following</button>
</div>
<div class="events">
  <app-event class="event-card"></app-event>
  <app-event class="event-card"></app-event>
  <app-event class="event-card"></app-event>
  <app-event class="event-card"></app-event>
</div>
