<!-- Sidebar -->
<ul class="navbar-nav sidebar accordion" id="accordionSidebar">

  <header class="sidebar-header">
    <img src="../../../assets/img/choichim.png" class="logo-img">
    <i class="logo-icon uil uil-instagram"></i>
  </header>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="'/dashboard'">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Quản lý
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin-users'">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span> Thành viên</span></a>

  </li>



  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Khác
  </div>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item" (click)="openDevelopingDialog()">
    <a type="button" class="nav-link collapsed" data-target="#collapseUtilities" aria-expanded="false"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Cài đặt</span>
    </a>
  </li>

  <li class="nav-item" (click)="logout()">
    <a type="button" class="nav-link collapsed" aria-expanded="false"
      aria-controls="collapseUtilities">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <span> Đăng xuất</span>
    </a>
  </li>


</ul>
<!-- End of Sidebar -->