<!-- Sidebar -->
<ul class="navbar-nav sidebar accordion" id="accordionSidebar">

   <header class="sidebar-header">
      <img src="../../../assets/img/choichim.png" class="logo-img">
      <i class="logo-icon uil uil-instagram"></i>
   </header>

   <!-- Divider -->
   <hr class="sidebar-divider">

   <!-- Heading -->
   <div class="sidebar-heading">
      Quản lý
   </div>

   <!-- Nav Item - Charts -->
   <li class="nav-item">
      <a class="nav-link" [routerLink]="'/staff-posts'">
         <i class="fa fa-file-text" aria-hidden="true"></i>
         <span> Bài viết</span></a>

   </li>

   <li class="nav-item">
      <a class="nav-link" [routerLink]="'/staff-events'">
         <i class="fa fa-calendar" aria-hidden="true"></i>
         <span> Sự kiện</span></a>

   </li>

   <li class="nav-item">
      <a class="nav-link">
         <i class="fa fa-info-circle" aria-hidden="true"></i>
         <span> Thông tin</span></a>

   </li>

   <!-- Divider -->
   <hr class="sidebar-divider">

   <!-- Heading -->
   <div class="sidebar-heading">
      Khác
   </div>

   <!-- Nav Item - Utilities Collapse Menu -->
   <li class="nav-item">
      <a class="nav-link collapsed" data-target="#collapseUtilities"
         aria-expanded="false" aria-controls="collapseUtilities">
         <i class="fas fa-fw fa-wrench"></i>
         <span>Cài đặt</span>
      </a>
   </li>

   <li class="nav-item" (click)="logout()">
      <a type="button" class="nav-link collapsed" aria-expanded="false"
        aria-controls="collapseUtilities">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span> Đăng xuất</span>
      </a>
    </li>


</ul>
<!-- End of Sidebar -->