
  <div class="event-card">
    <div class="event-card-header">
      <img [src]="this.event.cover_image" style="width: 100%; height: 100%;" alt="">
      <div class="menu-dot"></div>
    </div>
    <div class="event-card-content">
      <div class="event-card-time"> <b>From: </b> {{ formatDate(this.event.start_date)}}</div>
      <div class="event-card-time"><b>To: </b>  {{ formatDate(this.event.start_date)}}</div>
    <div class="event-card-title fw-bold">
      {{this.event.event_name}}
    </div>
    <!-- <div class="event-detail-buttons">
      <div class="participants">100 người quân tâm</div>
    </div> -->
    <div class="event-card-buttons">
      <button style="width: 100%; background-color: #F2F3F5;" type="button" class="btn btn-grey">
        <i class="fa fa-star" style="margin-right: 5px;"></i> Quan tâm
      </button>
    </div>
    </div>
  </div>

