<div class="image-wrapper gallery-item" (click)="openPostDetail()">
    <div class="img-overlay-wrapper">
        <div class="img-btns">
            <p>465 <i class="uil uil-heart-alt"></i> &nbsp&nbsp 25 <i class="uil uil-comment"></i></p>
        </div>
        <div class="img-overlay"></div>
    </div>
    <img class="image"
        [src]="this.post?.image"
        alt="">
        <div class="gallery-item-info">

            <ul>
                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{this.post?.total_like}}</li>
                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{this.post?.total_comment}}</li>
            </ul>
    
        </div>
    
</div>

<app-post-dialog *ngIf="showPostDetail" ></app-post-dialog>