<div class="creator">
    <span class="creator-content">
        <div class="avatar">
            <div>
                <div class="">
                    <div class=""><span class="" role="link" tabindex="-1">
                            <img style="border-radius: 50%; width: 40px; height: 40px;" alt="" class="profile-img"
                                crossorigin="anonymous" draggable="false" [src]="detailComment?.creator?.avatar">
                        </span></div>
                </div>
            </div>
            <div class="" style="opacity: 1;">
                <div style="width: 100%;">
                    <div class=""></div>
                </div>
            </div>
        </div>
        <i class="uil uil-profile">
        </i>
        <div class="comment-content">
            <span class="fullname">{{detailComment?.creator?.fullname}}</span>
            <div class="commnet">{{detailComment?.content}}</div>
        </div>
        <i class="fas fa-heart menu-icon"></i>
    </span>
    <div class="comment-actions">
        <span class="comment-time">{{ detailComment?.created_at | dateAgo }}</span>
        <span class="total_like">{{detailComment?.total_like}} likes</span>
        <span class="reply">Reply</span>
    </div>
</div>