<div class="creator">
    <span class="creator-content">
        <div class="">
            <div>
                <div class="">
                    <div class=""><span class="" role="link" tabindex="-1">
                            <img style="border-radius: 50%; width: 40px; height: 40px;" alt="" class="profile-img"
                                crossorigin="anonymous" draggable="false" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/313442034_1807317972944994_4019730258150584617_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=5dFHYQlki10AX_-9xrO&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfDZGgh6vaOVq4hRLM3gcFzxgTRs1pESRg4MuaF3IUy6sw&oe=6496BD3A">
                        </span></div>
                </div>
            </div>
            <div class="" style="opacity: 1;">
                <div style="width: 100%;">
                    <div class=""></div>
                </div>
            </div>
        </div>
        <i class="uil uil-profile">
        </i>
        <div class="comment-content">
            <span class="fullname">Nguyen Truong Giang</span>
            <div class="commnet">Meu deus eu tô amando o Taz turistando por São Paulo 😍</div>
        </div>
        <i class="fas fa-heart menu-icon"></i>
    </span>
    <div class="comment-actions">
        <span class="comment-time">5 hours ago</span>
        <span class="total_like">7 likes</span>
        <span class="reply">Reply</span>
    </div>
</div>