<div class="card mainDiv">
  <!--title-->
  <div class="card-header title text-center">
    <h5 class="card-title fw-bold">Tạo bài viết</h5>
  </div>

  <div class="card-body" id="body">
    <div class="d-flex user-infor align-items-center">
      <!--avatar-->
      <div class="avatar me-3">
        <img [src]="this.loggedInAccount?.avatar" class="rounded-circle" alt="Profile Picture" width="40" height="40">
      </div>
      <div class="user-name">
        <p class="fw-bold text-center">{{this.loggedInAccount?.fullname}}</p>
      </div>
    </div>
    
   <!--content-->
  <div class="flex-grow-1">
    <div class="form-control content border-0" contenteditable="true" (input)="handleInput($event)" [attr.data-placeholder]="placeholder"></div>
    <div id="imagePreview" class="mt-2">
      <div class="image-container">
        <img *ngIf="previewImageSrc !== null" [src]="previewImageSrc" class="img-thumbnail" alt="Preview Image">
      </div>
    </div>
  </div>
  
    <div class="mb-3 d-flex btn-add-image">
      <div class="custom-file text-center">
        <div class="file-input">
          <label class="custom-file-label file-input" for="image">
            Add image
          </label>
          <input type="file" id="image" (change)="previewImage($event)" style="display: none" #fileInput>
        </div>
      </div>
      <button *ngIf="previewImageSrc !== null" class="btn btn-danger btn-sm cancel-button" (click)="cancelPreviewImage()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    
    <!--submit button-->
    <button type="submit" class="btn btn-primary btn-submit" (click)="uploadImage()">Đăng</button>
  </div>
</div>
