<div class="card">
  <img [src]="data.avatar" alt="User Image" style="width:100%; height: 400px;">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="information">
          <span>Fullname:</span>
          <span class="index">{{ data.fullname }}</span>
        </div>
        <div class="information">
          <span>Email:</span>
          <span class="index">{{ data.email }}</span>
        </div>
        <div class="information">
          <span>Phone:</span>
          <span class="index">{{ data.phone_number }}</span>
        </div>
      </div>
      <div class="col-6">
        <div class="information">
          <span>Address:</span>
          <span class="index">{{ data.address }}</span>
        </div>
        <div class="information">
          <span>Role:</span>
          <span class="index">{{ data.role }}</span>
        </div>
        <div class="information">
          <span>Status:</span>
          <span class="index">{{ data.status }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
