<div class="event-explain">
  <img class="event-bg" alt
    src="https://th.bing.com/th/id/R.16426baaaee7a6c324ec0b78876131bb?rik=MKmqRqKATfK0HQ&pid=ImgRaw&r=0">
  <div class="event-explain-content">
    <div class="event-title-wrapper">
      <div class="event-card-time">29 THÁNG 8 LÚC 09:00 – 1 THÁNG 9 LÚC 17:00</div>
      <!-- <div class="event-action">
          <svg class="heart" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-heart">
            <path
              d="M20.8 4.6a5.5 5.5 0 00-7.7 0l-1.1 1-1-1a5.5 5.5 0 00-7.8 7.8l1 1 7.8 7.8 7.8-7.7 1-1.1a5.5 5.5 0 000-7.8z" /></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-share-2"><circle cx="18" cy="5" r="3" /><circle
              cx="6" cy="12" r="3" /><circle cx="18" cy="19" r="3" /><path
              d="M8.6 13.5l6.8 4M15.4 6.5l-6.8 4" /></svg>
        </div> -->
    </div>
    <div class="event-subtitle-wrapper">
      VIFA ASEAN 2023 - Vietnam ASEAN International Furniture & Home Accessories
      Fair
    </div>
    <div class="below-header">
      <div class="nav-bar">
        <ul>
          <li><a class="active">Introduce</a></li>
          <li><a>Feedback</a></li>
        </ul>
      </div>
      <div class="options">
        <button type="button" class="btn btn-primary">Interested</button>
        <button type="button" class="btn btn-primary">Join</button>
        <button type="button" class="btn btn-primary">Invite</button>
        <button type="button" class="btn btn-primary">Share</button>
      </div>
    </div>
    <div class="event-body">
      <div class="introduce-card">
        <div class="explain-bar">
          <div class="explain-title">Detail</div>
          <div class="explain-contents">
            <i class="fa-solid fa-user"></i>
            <div class="explain-subtitle">Event of VIFA ASEAN 2023 - Vietnam
              ASEAN
              International Furniture & Home Accessories Fair</div>
          </div>
          <div class="explain-contents">
            <i class="fa-sharp fa-solid fa-location-dot"></i>
            <div class="explain-subtitle">SECC Events - Saigon Exhibition and
              Convention Center</div>
          </div>
          <div class="explain-contents">
            <i class="fa-solid fa-clock"></i>
            <div class="explain-subtitle">Khoảng thời gian: 4 ngày</div>
          </div>
          <div class="explain-contents">
            <i class="fa-solid fa-earth-americas"></i>
            <div class="explain-subtitle">Công khai · Bất kỳ ai ở trên</div>
          </div>
        </div>
        <div class="overview-text">
          <div class="overview-text-header">Overview</div>
          <div class="overview-text-subheader">We believe that design (and
            you) will be critical to the company's success. You will work
            with our founders and our early customers to help define and
            build our product functionality, while maintaining the quality
            bar that customers have come to expect from modern SaaS
            applications. You have a strong background in product design
            with a quantitavely anf qualitatively analytical mindset. You
            will also have the opportunity to craft our overall product
            and visual identity and should be comfortable to flex into
            working.</div>
        </div>
      </div>
      <div class="detail-event">

      </div>
    </div>
  </div>
</div>
