.event {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.event-explain {
  border-radius: 0 0 8px 8px;
  padding-bottom: 100px;
}

.event-bg {
  object-fit: cover;
  width: 100%;
  height: 350px;
  transition: 0.3s;
  position: relative;
}

.event-card-time {
  color: red;
  font-weight: bold;
}

.event-contact,
.address,
.participant,
.introduce-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
}

.event-contact {
  height: 380px;
}

.event-body {
  display: flex;
  flex-direction: row;
}

.right-side,
.left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.explain-title,
.event-subtitle-wrapper {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 25px;
  /* border-bottom: solid 1px black; */
}

.overview-text,
.explain-bar {
  display: flex;
  flex-direction: column;
  margin: 10px;
  .explain-contents {
    display: flex;
    flex-direction: row;
    .explain-subtitle {
      margin-left: 10px;
    }
  }
}

.below-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-group {
  width: 50%;
  margin-left: 5px;
}

.options {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 40px;
}

.options .button {
  background-color: white;
  border: none;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #555555;
  border-radius: 5px;
}

.options .button:hover {
  background-color: #555555;
  color: white;
}

.btn-group .button {
  background-color: white; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: #6c757d;
  color: white;
}

.contact-body {
  text-align: center;
}

.avatar img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-top: 5px;
}

.hover-contact-body button {
  width: 85%;
  margin: auto;
  margin-bottom: 5px;
}

.hover-contact-body {
  margin: 15px auto 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
}

.hover-contact-body:hover {
  z-index: 1;
  opacity: 0.5;
}

.maps {
  width: 100%;
  height: 300px;
}

.address {
  height: 400px;
}

.body-participant,
.head-participant {
  display: flex;
  flex-direction: row;
  position: relative;
}

.head-participant button {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.explain-title {
  margin-left: 5px;
}

.joined,
.interested {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.body-participant div span {
  font: bold;
}


/* Full Stars Example */

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}


/* Half Stars Example */

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}


/* Full Stars Example Two */

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}