.creator-content {
    width: 100%;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 15px;
    cursor: pointer;
}

.username {
    font-size: 15px;
    font-weight: bold;
}

.fullname {
    font-size: 14px;
    color: rgb(160, 161, 161);
}

.avatar {
    margin-bottom: auto;
    margin-top: 5px;
    margin-right: 10px;
}

.right-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-follow {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #1877F2;
}