<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-6 d-flex align-items-center justify-content-center vh-100 banner">
      <!-- Login form fields go here -->
      <img src="https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg" alt="Banner"
        class="img-fluid">
    </div>
    <!-- Place your large image of a bird here -->
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <form>
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>

          <label for="email"><b>Username</b></label>
          <input type="text" name="username" placeholder="Enter Username" required>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="phone_number"><b>Phone Number</b></label>
          <br>

          <input type="text" placeholder="Enter Phone Number" name="phone_number" required>

          <div class="d-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="termsCheckbox" required>
              <label class="form-check-label" for="termsCheckbox">
                By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
              </label>
            </div>
          </div>


          <div class="clearfix">

            <button type="submit" class="btn btn-submit">Sign Up</button>
          </div>
        </div>

        <p style="margin-left: 10px;" class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a
            [routerLink]="'/login'" class="link-primary">Sign in</a></p>
      </form>
    </div>
  </div>
</div>