<div class="inbox">
    <div class="username">
        <div class="name">user_name</div>
        <span style="display: inline-block; transform: rotate(180deg);"><svg aria-label="Down Chevron Icon"
                class="_8-yf5 " color="#262626" fill="#262626" height="20" role="img" viewBox="0 0 24 24" width="20">
                <path
                    d="M21 17.502a.997.997 0 01-.707-.293L12 8.913l-8.293 8.296a1 1 0 11-1.414-1.414l9-9.004a1.03 1.03 0 011.414 0l9 9.004A1 1 0 0121 17.502z">
                </path>
            </svg></span>
        <svg aria-label="New Message" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
            viewBox="0 0 24 24" width="24">
            <path d="M12.202 3.203H5.25a3 3 0 00-3 3V18.75a3 3 0 003 3h12.547a3 3 0 003-3v-6.952" fill="none"
                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
            <path
                d="M10.002 17.226H6.774v-3.228L18.607 2.165a1.417 1.417 0 012.004 0l1.224 1.225a1.417 1.417 0 010 2.004z"
                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            </path>
            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                x1="16.848" x2="20.076" y1="3.924" y2="7.153"></line>
        </svg>


    </div>
    <div class="friends">
        <div class="box1" onclick="chat()" id="box1">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="logo">
            <p class="nickname1">User name</p>
            <p class="nick1">You sent a message 6h </p>

        </div>
        <div class="box1" onclick="chat1()" id="box2">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="logo">
            <p class="nickname1">User name </p>
            <p class="nick1">Active 1h ago</p>


        </div>
        <div class="box1">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="logo">
            <p class="nickname1">User name </p>
            <p class="nick1">Liked a message 3d </p>


        </div>
        <div class="box1">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="logo">
            <p class="nickname1">User name </p>
            <p class="nick1">Liked a message 3d </p>


        </div>
        <div class="box1">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="logo">
            <p class="nickname1">User name </p>
            <p class="nick1">Liked a message 3d </p>


        </div>
        <div class="box1">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="logo">
            <p class="nickname1">User name </p>
            <p class="nick1">Liked a message 3d </p>


        </div>
    </div>
    <div class="your" id="your">
        <svg aria-label="Share Post" class="_8-yf5 " color="#262626" fill="#262626" height="44" role="img"
            viewBox="0 0 24 19" width="44">
            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3"
                y2="10.083"></line>
            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
        </svg>
        <h2>Your Messages</h2>
        <div class="notify">Send private photos and messages to a friend or group.</div>
    </div>
    <button class="btn your" id="yourr">Send Message</button>

    <div class="chat1" id="chat1">
        <div class="nav1">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="img">
            <p class="userchat">User name</p>
            <svg aria-label="View Thread Details" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></circle>
                <circle cx="11.819" cy="7.709" r="1.25"></circle>
                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    x1="10.569" x2="13.432" y1="16.777" y2="16.777"></line>
                <polyline fill="none" points="10.569 11.05 12 11.05 12 16.777" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
            </svg>
        </div>

        <div class="area">
            <div class="icn">

                <svg aria-label="Unsend" class="_88-yf5 " color="#8e8e8e" fill="#8e8e8e" height="24" role="img"
                    viewBox="0 0 24 24" width="24">
                    <circle cx="12" cy="12" r="1.5"></circle>
                    <circle cx="6" cy="12" r="1.5"></circle>
                    <circle cx="18" cy="12" r="1.5"></circle>
                </svg>
                <svg aria-label="Reply" class="_888-yf5 " color="#262626" fill="#262626" height="16" role="img"
                    viewBox="0 0 24 24" width="16">
                    <path
                        d="M14 8.999H4.413l5.294-5.292a1 1 0 10-1.414-1.414l-7 6.998c-.014.014-.019.033-.032.048A.933.933 0 001 9.998V10c0 .027.013.05.015.076a.907.907 0 00.282.634l6.996 6.998a1 1 0 001.414-1.414L4.415 11H14a7.008 7.008 0 017 7v3.006a1 1 0 002 0V18a9.01 9.01 0 00-9-9z">
                    </path>
                </svg>
                <svg aria-label="Emoji" class="_8888-yf5 " color="#8e8e8e" fill="#8e8e8e" height="16" role="img"
                    viewBox="0 0 24 24" width="16">
                    <path
                        d="M15.83 10.997a1.167 1.167 0 101.167 1.167 1.167 1.167 0 00-1.167-1.167zm-6.5 1.167a1.167 1.167 0 10-1.166 1.167 1.167 1.167 0 001.166-1.167zm5.163 3.24a3.406 3.406 0 01-4.982.007 1 1 0 10-1.557 1.256 5.397 5.397 0 008.09 0 1 1 0 00-1.55-1.263zM12 .503a11.5 11.5 0 1011.5 11.5A11.513 11.513 0 0012 .503zm0 21a9.5 9.5 0 119.5-9.5 9.51 9.51 0 01-9.5 9.5z">
                    </path>
                </svg>
            </div>
            <p class="mess">Hello?</p>
            <br>
            <p class="mess">Hello?</p>
        </div>

        <div class="text">
            <svg aria-label="Emoji" class="_8-yf55 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <path
                    d="M15.83 10.997a1.167 1.167 0 101.167 1.167 1.167 1.167 0 00-1.167-1.167zm-6.5 1.167a1.167 1.167 0 10-1.166 1.167 1.167 1.167 0 001.166-1.167zm5.163 3.24a3.406 3.406 0 01-4.982.007 1 1 0 10-1.557 1.256 5.397 5.397 0 008.09 0 1 1 0 00-1.55-1.263zM12 .503a11.5 11.5 0 1011.5 11.5A11.513 11.513 0 0012 .503zm0 21a9.5 9.5 0 119.5-9.5 9.51 9.51 0 01-9.5 9.5z">
                </path>
            </svg>

            <textarea name="text" id="txt" cols="30" rows="10" placeholder="Message..."></textarea>
            <svg aria-label="Add Photo or Video" class="_8-yff5 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <path d="M6.549 5.013A1.557 1.557 0 108.106 6.57a1.557 1.557 0 00-1.557-1.557z" fill-rule="evenodd">
                </path>
                <path
                    d="M2 18.605l3.901-3.9a.908.908 0 011.284 0l2.807 2.806a.908.908 0 001.283 0l5.534-5.534a.908.908 0 011.283 0l3.905 3.905"
                    fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                <path
                    d="M18.44 2.004A3.56 3.56 0 0122 5.564h0v12.873a3.56 3.56 0 01-3.56 3.56H5.568a3.56 3.56 0 01-3.56-3.56V5.563a3.56 3.56 0 013.56-3.56z"
                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                </path>
            </svg>
            <svg aria-label="Like" class="_8-yff55 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <path
                    d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z">
                </path>
            </svg>
        </div>

    </div>
    <div class="chat1" id="chat2">
        <div class="nav1">
            <img src="https://i.postimg.cc/s2KtDT78/userinsta.png" alt="img">
            <p class="userchat">User name</p>
            <svg aria-label="View Thread Details" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></circle>
                <circle cx="11.819" cy="7.709" r="1.25"></circle>
                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    x1="10.569" x2="13.432" y1="16.777" y2="16.777"></line>
                <polyline fill="none" points="10.569 11.05 12 11.05 12 16.777" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
            </svg>
        </div>

        <div class="area">
            <div class="icn">

                <svg aria-label="Unsend" class="_88-yf5 " color="#8e8e8e" fill="#8e8e8e" height="24" role="img"
                    viewBox="0 0 24 24" width="24">
                    <circle cx="12" cy="12" r="1.5"></circle>
                    <circle cx="6" cy="12" r="1.5"></circle>
                    <circle cx="18" cy="12" r="1.5"></circle>
                </svg>
                <svg aria-label="Reply" class="_888-yf5 " color="#262626" fill="#262626" height="16" role="img"
                    viewBox="0 0 24 24" width="16">
                    <path
                        d="M14 8.999H4.413l5.294-5.292a1 1 0 10-1.414-1.414l-7 6.998c-.014.014-.019.033-.032.048A.933.933 0 001 9.998V10c0 .027.013.05.015.076a.907.907 0 00.282.634l6.996 6.998a1 1 0 001.414-1.414L4.415 11H14a7.008 7.008 0 017 7v3.006a1 1 0 002 0V18a9.01 9.01 0 00-9-9z">
                    </path>
                </svg>
                <svg aria-label="Emoji" class="_8888-yf5 " color="#8e8e8e" fill="#8e8e8e" height="16" role="img"
                    viewBox="0 0 24 24" width="16">
                    <path
                        d="M15.83 10.997a1.167 1.167 0 101.167 1.167 1.167 1.167 0 00-1.167-1.167zm-6.5 1.167a1.167 1.167 0 10-1.166 1.167 1.167 1.167 0 001.166-1.167zm5.163 3.24a3.406 3.406 0 01-4.982.007 1 1 0 10-1.557 1.256 5.397 5.397 0 008.09 0 1 1 0 00-1.55-1.263zM12 .503a11.5 11.5 0 1011.5 11.5A11.513 11.513 0 0012 .503zm0 21a9.5 9.5 0 119.5-9.5 9.51 9.51 0 01-9.5 9.5z">
                    </path>
                </svg>
            </div>
            <p class="mess">Hiii?</p>
        </div>

        <div class="text">
            <svg aria-label="Emoji" class="_8-yf55 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <path
                    d="M15.83 10.997a1.167 1.167 0 101.167 1.167 1.167 1.167 0 00-1.167-1.167zm-6.5 1.167a1.167 1.167 0 10-1.166 1.167 1.167 1.167 0 001.166-1.167zm5.163 3.24a3.406 3.406 0 01-4.982.007 1 1 0 10-1.557 1.256 5.397 5.397 0 008.09 0 1 1 0 00-1.55-1.263zM12 .503a11.5 11.5 0 1011.5 11.5A11.513 11.513 0 0012 .503zm0 21a9.5 9.5 0 119.5-9.5 9.51 9.51 0 01-9.5 9.5z">
                </path>
            </svg>

            <textarea name="text" id="txt" cols="30" rows="10" placeholder="Message..."></textarea>
            <svg aria-label="Add Photo or Video" class="_8-yff5 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <path d="M6.549 5.013A1.557 1.557 0 108.106 6.57a1.557 1.557 0 00-1.557-1.557z" fill-rule="evenodd">
                </path>
                <path
                    d="M2 18.605l3.901-3.9a.908.908 0 011.284 0l2.807 2.806a.908.908 0 001.283 0l5.534-5.534a.908.908 0 011.283 0l3.905 3.905"
                    fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                <path
                    d="M18.44 2.004A3.56 3.56 0 0122 5.564h0v12.873a3.56 3.56 0 01-3.56 3.56H5.568a3.56 3.56 0 01-3.56-3.56V5.563a3.56 3.56 0 013.56-3.56z"
                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                </path>
            </svg>
            <svg aria-label="Like" class="_8-yff55 " color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <path
                    d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z">
                </path>
            </svg>
        </div>

    </div>
</div>