<div class="row">
  <div class="col-md-8">
    <div *ngFor="let post of posts; let i = index" class="post" [id]="'post-' + (i + 1)">
      <app-post [post]="post"></app-post>
    </div>    

    <!-- Add a loading indicator or message when fetching more posts -->
    <div *ngIf="isLoading" class="loading-indicator">
      Loading more posts...
    </div>
  </div>

  <div class="col-md-4">
    <!-- Add any additional content for the sidebar if needed -->
    <app-suggestion-user></app-suggestion-user>
  </div>
</div>
