<div id="page">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <section id="news">
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
  
            <div class="pagination">
              <a href="#" class="btn btn-primary">View More</a>
            </div>
          </section>
        </div>
  
        <div class="col-lg-3">
          <div id="side-tour" class="mb-4">
            <h2>Recommend</h2>
          </div>
  
          <app-hot-news></app-hot-news>
          <app-hot-news></app-hot-news>
          <app-hot-news></app-hot-news>
  
        </div>
      </div> <!-- End row -->
    </div> <!-- End container -->

  </div> <!-- End Page -->