.user-infor {
    margin-bottom: 10px;
}

.mainDiv {
    width: 600px;
}   
  
.cancel-button:hover {
color: red;
}

.fa-image {
font-size: 30px;
transition: transform 0.3s, opacity 0.3s;
cursor: pointer;
margin-right: 20px;
}

.fa-image:hover {
transform: scale(1.2);
opacity: 0.8;
}

.btn-submit {
    width: 100%;
}