<div class="card mainDiv">
  <!--title-->
  <div class="card-header title text-center">
    <h5 class="card-title fw-bold">Tạo bài viết</h5>
  </div>

  <div class="card-body" id="body">
    <div class="d-flex user-infor align-items-center">
      <!--avatar-->
      <div class="avatar me-3">
        <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/313442034_1807317972944994_4019730258150584617_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=TZKg7As2TAkAX8UfTPG&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAVNOGj28ESkTkfcXrkuF7nb4d6DyiPebZtqw2V8J_-bg&oe=648CD9FA" class="rounded-circle" alt="Profile Picture" width="40" height="40">
      </div>
      <div class="user-name">
        <p class="fw-bold text-center">Truong Giang</p>
      </div>
    </div>
    
   <!--content-->
  <div class="flex-grow-1">
    <div class="form-control content border-0" contenteditable="true" (input)="handleInput($event)" [attr.data-placeholder]="placeholder"></div>
    <div id="imagePreview" class="mt-2">
      <div class="image-container">
        <img *ngIf="previewImageSrc !== null" [src]="previewImageSrc" class="img-thumbnail" alt="Preview Image">
      </div>
    </div>
  </div>
  
    <div class="mb-3 d-flex">
      <div class="custom-file">
        <div class="file-input">
          <label class="custom-file-label" for="image">
            <i class="fa fa-image"></i>
          </label>
          <input type="file" id="image" (change)="previewImage($event)" style="display: none" #fileInput>
        </div>
      </div>
      <button *ngIf="previewImageSrc !== null" class="btn btn-danger btn-sm cancel-button" (click)="cancelPreviewImage()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    
    <!--submit button-->
    <button type="submit" class="btn btn-primary btn-submit" (click)="uploadImage()">Đăng</button>
  </div>
</div>
