<!-- Sidebar -->
<div class="bg-light sticky-top sidebar-container" id="sidebar">
  <div class="sidebar-header">
    <!-- Add any header content here -->
    <h2>BIRD CLUB</h2>
  </div>
  <div class="sidebar-content">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-home me-2"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-search me-2"></i>
          <span>Search</span>
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-newspaper me-2"></i>
          <span>News</span>
        </a>
      </li>
      <!-- Add more sidebar items here -->
    </ul>
  </div>
</div>
