* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
  color: #262626;
  font-family: BlinkMacSystemFont;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  background: #ffffff;
  transition: width 0.5s ease;
  border-right: solid 0.1px rgb(217, 217, 217);
}

.sidebar-header {
  width: 100%;
  margin-bottom: 10px;
}

.logo-icon {
  display: none;
  font-size: 28px;
  height: 35px;
  width: 51px;
  text-align: center;
}

.logo-img {
  width: 100%;
}

.sidebar button {
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.sidebar button > span {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 12px;
  border-radius: 24px;
  line-height: 1;
}

.sidebar button:hover > span {
  background: #f2f2f2;
}

.sidebar button:hover > span :is(i, img) {
  scale: 1.05;
}

.sidebar button > span > span {
  transition: 0.3s;
}

.sidebar button i {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar button img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar button i > span {
  display: grid;
  place-items: center;
  height: 20px;
  width: 20px;
  padding: 0 3px;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: 4px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar button i > em {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  top: -14px;
  right: 9px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar button span {
  font-size: 17px;
}

.sidebar > nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar > nav button:last-child {
  margin-top: auto;
}

@media (width < 980px) {
  .logo-img {
    display: none;
  }
  .logo-icon {
    display: block;
  }
  .sidebar {
    width: fit-content;
    padding-right: 0;
  }

  .sidebar button > span > span {
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.inbox-styles .logo-img {
  display: none;
}

.inbox-styles .logo-icon {
  display: block;
}

.inbox-styles .sidebar {
  width: fit-content;
  padding-right: 0;
}

.inbox-styles .sidebar button > span > span {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.options-container {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.options-container ul{
  padding: 0;
}

.option {
  width: 100%;
  margin-right: 10px;
}

.sidebar-container {
  position: relative;
  transition: width 0.8s ease;
}

.search-box {
  width: 0;
  height: 800px;
  position: absolute;
  top: 0;
  left: 80px;
  overflow: hidden;
  transition: width 1s ease, opacity 0.2s ease;
  z-index: 9999;
}

.search-box.show {
  display: block;
  left: 80px;
  width: 400px;
  opacity: 1;
}

.search-box .card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.2s ease;
  transform: translateX(100%);
}

.search-box.show .card {
  transform: translateX(0);
}

.card-body {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button.hide-text .button-text {
  display: none;
}

button.hide-text .icon {
  margin-right: 0;
}

.sidebar.smaller {
  width: 80px;
  margin: 10px;
}

.input-wrapper {
  margin: 5px;
  position: relative;
}

.search-input {
  padding-right: 30px;
}

.card-body .icon-search {
  position: absolute;
  z-index: 2;
  display: block;
  top: 50%;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  pointer-events: none;
  color: #aaa;
  right: 10px;
  transform: translateY(-50%);
}

.display-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-person-container, .search-post-container {
  margin-bottom: 10px;
  width: 100%;
  height: 45%;
}

.search-post-container {
  border-top: 1px solid #0f0e0e;
  padding-top: 10px;
}

.person-infor{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.person-avatar{
  width: 50px;
  height: 50px;
}

.person-name{
  text-align: center;
  margin: auto 10px;
  font-weight: bold;
  width: 25%;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.button-text.hide {
  display: none;
}

.list-container.active .more-button-list {
  opacity: 1;
  transform: scale(1);
}

.list-container.active .more-button-list-item {
  animation: fadeInItem .6s .2s forwards;
}

.list-container.active .more-button-list-item:nth-child(2) {
  animation-delay: .4s;
}

.list-container.active .more-button-list-item:nth-child(3) {
  animation-delay: .6s;
}

.list-container.active .more-button-list-item:nth-child(4) {
  animation-delay: .8s;
}

.list-container.active .more-button {
  animation: onePulse .6s forwards linear;
}

.list-container.active .menu-icon-wrapper {
  transform: rotate(-45deg);
}

.list-container.active .menu-icon-line.first {
  transform: rotate(-90deg) translateX(1px);
}

.list-container.active .menu-icon-line.last {
  transform: rotate(-90deg) translateX(-1px);
}

.more-button-list {
  background-color: #fff;
  border-radius: 8px;
  list-style-type: none;
  width: 140px;
  height: 170px;
  box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
  padding: 0;
  padding: 6px;
  position: absolute;
  right: 24px;
  bottom: 0;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom right;
  transition: all .3s ease .1s;
}

.more-button-list li {
  opacity: 0;
}

.more-button-list-item {
  display: flex;
  align-items: center;
  color: #1c3991;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: .2s ease-in;
  transform: translatex(-10px);
}

.more-button-list-item:hover {
  color: #5c67ff;
}

.more-button-list-item:after {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% - 24px);
  left: 12px;
  bottom: 0;
  background-color: rgba(132, 160, 244, 0.1);
}

.more-button-list-item:last-child:after {
  display: none;
}

.more-button-list-item svg {
  width: 18px;
  height: 18px;
}

.more-button-list-item span {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  margin-left: 8px;
}

@keyframes onePulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
  }
  
  50% {
    box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
  }
  
  100% {
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
  }
}

@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

.socials {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
}

.social-link {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-right: 12px;
}

.menu-icon-wrapper {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.menu-icon-line {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 2px;
}

.menu-icon-line.half {
  width: 50%;
}

.menu-icon-line.first {
  transition: transform 300ms cubic-bezier(0.52, -0.80, 0.52, 0.52);
  transform-origin: right;
}

.menu-icon-line.last {
  align-self: flex-end;
  transition: transform 300ms cubic-bezier(0.52, -0.80, 0.52, 0.52);
  transform-origin: left;
}
