<div class="post card">
  <img [src]="post.imageUrl" alt="Post Image" class="card-img-top">
  <div class="card-body">
    <h3 class="card-title">{{ post.title }}</h3>
    <p class="card-text">{{ post.description }}</p>
    <div class="post-actions">
      <button type="button" class="btn btn-primary" (click)="likePost()">
        <i class="fas fa-thumbs-up"></i> Like
      </button>
      <button type="button" class="btn btn-primary" (click)="sharePost()">
        <i class="fas fa-share-alt"></i> Share
      </button>
      <button type="button" class="btn btn-primary" (click)="commentPost()">
        <i class="fas fa-comment"></i> Comment
      </button>
    </div>
  </div>
</div>
<hr>